TREASURY_WALLET=0x65Ea16A69E03500c7928be35461f1a53B820E6Af
TREASURY_FEE_BPS=1000
CONTRACT_ENTRY_FEE_WEI=1000000000000000
DEPLOYER_PRIVATE_KEY=
CELO_SEPOLIA_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
CELO_MAINNET_RPC_URL=https://forno.celo.org
